#square1 {
  height: 200px;
  width: 200px;
  background-color: rgba(238, 176, 5, 0.877);
}
#square2 {
  height: 200px;
  width: 200px;
  background-color: blueviolet;
}
#square3 {
  height: 200px;
  width: 200px;
  background-color: rgb(226, 43, 150);
}

h1 {
  text-align: center;
  margin-top: 100px;
}
